{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Program Unggulan Bupati'), named_route='home.about' %}</li>
{% endblock %}

<style>
    article.module {
        background-color: #ffffff !important;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .main {
        min-height: 100vh;
    }
</style>

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          <h1 class="page-heading" style="text-align: center;" data-aos="fade-up" data-aos-delay="100">{{ _('📜 Program Unggulan Bupati') }}</h1>
          {% snippet 'program-unggulan-bupati/snippets/program_text.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}
{% endblock %}