{% trans %}

<style>
    p {
        text-align: justify;
    }
</style>

<p>Satu Data Deli Serdang merupakan implementasi dari inisiatif nasional Satu Data Indonesia yang bertujuan untuk mewujudkan tata kelola 
data pemerintah yang lebih baik, akurat, mutakhir, terpadu, serta dapat dipertanggungjawabkan. 
Kehadiran Satu Data di Kabupaten Deli Serdang menjadi langkah strategis dalam mendukung pengambilan keputusan berbasis data, 
meningkatkan transparansi, serta memperkuat akuntabilitas penyelenggaraan pemerintahan daerah.</p>
<hr>
<p>Dengan mengusung tiga prinsip utama, yaitu satu standar data, satu metadata baku, dan satu portal data, Satu Data Deli Serdang berkomitmen untuk:</p>
<ul>
    <li>Menyediakan data resmi pemerintah daerah yang akurat dan konsisten.</li>
    <li>Menghadirkan data dalam format terbuka, mudah diakses, dan dapat digunakan kembali oleh masyarakat, akademisi, maupun pelaku usaha.</li>
    <li>Memperkuat kolaborasi antar perangkat daerah dalam menghasilkan dan memanfaatkan data yang interoperable.</li>
</ul>
<hr>    
<p>📂 Portal resmi Satu Data Deli Serdang menjadi pusat informasi data daerah yang mengintegrasikan berbagai data sektoral. 
Melalui portal ini, masyarakat dapat memperoleh data dan informasi yang relevan mengenai pembangunan daerah, 
pelayanan publik, hingga statistik wilayah, sehingga dapat dimanfaatkan untuk penelitian, perencanaan, maupun pengawasan kebijakan.</p>

<p>Dengan adanya Satu Data Deli Serdang, pemerintah daerah berharap tercipta tata kelola pembangunan yang lebih terarah, partisipatif, dan berorientasi pada kepentingan masyarakat luas.</p>
<hr>
<p>📍 Situs Resmi Pemerintah Kabupaten Deli Serdang: <a href="https://portal.deliserdangkab.go.id">portal.deliserdangkab.go.id</a>
<p>📍 Portal Resmi Pemerintah Kabupaten Deli Serdang: <a href="https://deliserdangkab.go.id">deliserdangkab.go.id</a>
    <br>
    <br>
    <p class="text-center">Copyright © 2025 Pemerintah Kabupaten Deli Serdang</p>
{% endtrans %}