<div class="my-5 container">
  <ol class="list-group list-group-numbered shadow-sm">
    <li class="list-group-item">Memperkokoh ideologi Pancasila, demokrasi, dan hak asasi manusia (HAM).</li>
    <li class="list-group-item">Memantapkan sistem pertahanan keamanan negara dan mendorong kemandirian bangsa melalui swasembada pangan, energi, air, ekonomi kreatif, ekonomi hijau, dan ekonomi biru.</li>
    <li class="list-group-item">Meningkatkan lapangan kerja yang berkualitas, mendorong kewirausahaan, mengembangkan industri kreatif, dan melanjutkan pengembangan infrastruktur.</li>
    <li class="list-group-item">Memperkuat pembangunan sumber daya manusia (SDM), sains, teknologi, pendidikan, kesehatan, prestasi olahraga, kesetaraan gender, serta penguatan peran perempuan, pemuda, dan penyandang disabilitas.</li>
    <li class="list-group-item">Melanjutkan hilirisasi dan industrialisasi untuk meningkatkan nilai tambah di dalam negeri.</li>
    <li class="list-group-item">Membangun dari desa dan dari bawah untuk pemerataan ekonomi dan pemberantasan kemiskinan.</li>
    <li class="list-group-item">Memperkuat reformasi politik, hukum, dan birokrasi, serta memperkuat pencegahan dan pemberantasan korupsi dan narkoba.</li>
    <li class="list-group-item">Memperkuat penyelarasan kehidupan yang harmonis dengan lingkungan, alam, dan budaya, serta peningkatan toleransi antarumat beragama untuk mencapai masyarakat yang adil dan makmur.</li>
  </ol>
</div>
